
/* Navbar */
.navbar {
    background-color: white;
}

.navbar li a {
    color: rgb(19, 92, 88);
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin: 0 10px;
}

.navbar li a:hover{
    color: peru;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: bolder;
    margin: 0 10px;
}

.navbar-brand {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

/* Jumbotron styling */

#headJumbo img{
    height: 200px;
    width: auto;
}

#headJumbo img:hover {
    height: 205px;
    width: auto;
}

#headJumbo {
    background-color: rgb(224, 224, 224);
    color: white;
    height: 260px;
    width: auto;
    box-shadow: 1px 1px 5px grey;
}


#headJumbo h1 {
    font-size: 3.7rem;
}

#headJumbo h3 {
    font-size: 2rem;
}

.jumbotron {
    height: 260px;
    width: auto;
    background-color: lightseagreen;
    box-shadow: 1px 1px 5px grey;
}

/* About Me Styling */

#aboutMe {
    margin-top: 75px;
}

/* Skills Styling */

#skills {
    margin-top: 75px;
}

#skills svg.svg-inline--fa {
    font-size: 5rem;
    margin: auto;
    color:rgb(19, 92, 88);
}

#skills svg.svg-inline--fa:hover {
    color:peru!important;
    font-size: 5.5rem!important;
}

/* project showcase */

#showCase {
    margin-top: 75px;
}


.cap1 h3 {
    color: darkcyan;
    font-size: 1.5rem;
}

.cap1 p {
    color:black;
    font-size: 1rem;
}

.carousel-indicators div{
    display: none;
}

#projectShow img {
    width: 100%;
    height: 430px;
    padding: 30px;
}

.cap1 {
    margin-top: 15px;
}

.cap1 p {
    margin-top: 15px;
}

/* Work History */

#workHistory {
    margin-top: 30px;
    text-align: center;
}

#workHistory h1{
font-size: 2rem;
text-decoration: underline rgb(166, 1, 1);
}

#workHistory h3 {
font-size: 1.3rem;
text-decoration: underline royalblue;
}

#workHistory h4 {
font-size: 1rem;
font-style: italic;
color: rgb(166, 1, 1);
}

#workHistory h6 {

}

.status {
    color: royalblue;
}

/* Cards */

#reviews .card {
    margin-top: 50px;
    box-shadow: 1px 1px 1px rgb(19, 92, 88);
    vertical-align: auto;
}

#reviews {
    margin-top: 50px;
}

.card-header {
    background-color:darkcyan;
    color: white;
    font-size: 1.1rem;
}
/* Footer Styling */

#footer {
    background-color: lightseagreen;
    margin-top: 100px;
}

#contact {
    color: white;
}

#contact svg.svg-inline--fa {
    font-size: 2rem;
    margin: auto;
    color:white;
    margin: 3px;
}

#contact svg.svg-inline--fa:hover {
    color:peru!important;
    font-size: 2rem!important;
}